@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  scroll-behavior: smooth;
}

* {
  color: #333;
}

.blue {
  color: #44AED1;
}

.blue-btn {
  background-color: #44AED1;
}

header {
  border-bottom: 1px solid #EAECF0;
}

body {
  background: #F9FAFB;
}

header button {
  border: 1px solid #44AED1;
}